body {
  background-color: #81589f;
  margin-left: 25%;
  margin-right: 25%;
  color: #ffff;
}

.app-title {
  text-align: center;
}

img {
  margin-left: 44.5%;
  margin-top: 10%;
}

.input-text {
  text-align: left;
}

.add-btn {
  border-radius: 30%;
  margin-left: 2%;
  color: black;
}

.add-btn:hover {
  background-color: blue;
  color: #ffff;
  font-weight: bold;
}

.ullist {
  list-style-type: none;
  text-align: left;
  margin-left: -4%;
}

.del-btn {
  margin-left: 2%;
  border-radius: 30%;
  vertical-align: middle;
  position: relative;
}

.del-btn:hover {
  background-color: red;
  color: #ffff;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

input:checked {
  text-decoration: line-through;
}

.container {
  overflow: auto;
}
